<div class="signup-wizard">
	<div class="signup-wizard-steps first <%= active_if_signup_first_step %>">
		Cadastre-se
		<div class="signup-wizard-steps-arrow"></div>
	</div>
	<div class="signup-wizard-steps second <%= active_if_signup_second_step %>">
		Avalie
		<div class="signup-wizard-steps-arrow"></div>
	</div>
	<div class="signup-wizard-steps third <%= active_if_signup_third_step %>">
		Aproveite
	</div>
</div>