<div class="signup-wizard">
	<div class="signup-wizard-steps first active">
		Cadastre-se
		<div class="signup-wizard-steps-arrow"></div>
	</div>
	<div class="signup-wizard-steps second">
		Avalie
		<div class="signup-wizard-steps-arrow"></div>
	</div>
	<div class="signup-wizard-steps third">
		Aproveite
	</div>
</div>