<h4 class="subheader" style="text-align:center">Parabééns! Você escolheu o seguinte restaurante:</h4>
<div id="restaurant_details" class="panel" >
		<img class="radius" src="<%= @restaurant.image_url %>">
		<div class="info">
			<span class="restaurant-name"><%= @restaurant.name %></span><br/>
			<span class="restaurant-address"><%= @restaurant.address %></span>
		</div>
		<div style="clear:both;"></div>
</div>

<div class="centered " style="margin-top: 80px;">
  <a class="round small button" href="/welcome/reset">Começar de novo</a>
</div>