<section id="home">
	<% if current_user_recommendations.length == 0 %>
		<%= render 'shared/signup_steps' %>
	<% end %>
	<ul class="nav centered">        
		<li><a href="/welcome/recommender" class="icon-surprise"><img 
 style="height:100%" src="/assets/make-a-wish-3.png"/></a></li> 
	</ul> 

	<div class="centered ">
		<a class="round large button fi-plus" href="/welcome/add_friends"></a>
	</div>
    <div class="centered " style="margin-top: -110px;margin-left: 60px;">
		<a class="custom buttony round tiny button" href="/welcome/add_friends"><%=@number_friends%></a>
	</div>
</section>
