<%= form_tag restaurants_path, :method => 'get', :id => "restaurant_search" do %>
  	<i class="fi-magnifying-glass"></i>
    <%= text_field_tag :search, params[:search], placeholder: "Buscar Restaurantes" %>
<% end %>

<ul id="restaurant_list">
	<%= render 'restaurants/restaurants' %>
	<% if @restaurants.total_pages > 1 %>
		<li id="item-load-more">
			<a>Mostrar mais restaurantes...</a>
		</li>
	<% end %>
</ul>