<h4 class="subheader" style="text-align:center">O Guru agradece! Agora suas recomendações serão ainda melhores =)</h4>
<div id="restaurant_details" class="panel" >
		<img class="radius" src="<%= @restaurant.image_url %>">
		<div class="info">
			<span class="restaurant-name"><%= @restaurant.name %></span><br/>
			<span class="restaurant-address"><%= @restaurant.address %></span>
		</div>
		<div style="clear:both;"></div>
</div>

