// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in,
.sign-up {
	margin-top: 60px;

	h1 {
		margin-bottom: 30px;
	}

	form {
		margin-top: 30px;	
	}
}

.sign_up_label {
	color: #555;
}
